<h1>Lista de Lugares de tipo Planet</h1>
<div class="contenedor">
<table mat-table [dataSource]="locations" class="mat-elevation-z8">

    <!--- ['id', 'name', 'type', 'dimension',"residents","url","created"]-->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef> dimension </th>
      <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="residents">
      <th mat-header-cell *matHeaderCellDef> residents </th>
      <td mat-cell *matCellDef="let element"> {{element.residents}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> url </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> created </th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>